{% extends './base.html' %} 

{% block title %} Inicio de Sesion {% endblock %}


{% block customCSS  %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}
<form class="form-signin" action="" method="POST">
  <img
    class="mb-4"
    src="{{ url_for('static', filename='img/flask.svg')}}" 
    width="72"
    height="72"
  />
  <h1 class="h3 mb-3 font-weight-normal">Inicio de Sesi&oacute;n</h1>
  <label for="usuario" class="sr-only">Usuario</label>
  <input
    type="text"
    id="usuario"
    name="usuario"
    class="form-control"
    placeholder="Usuario"
    minlength="4"
    maxlength="15"
    required
    autofocus
  />
  <br />
  <label for="password" class="sr-only">Password</label>
  <input
    type="password"
    id="password"
    name="password"
    class="form-control"
    placeholder="Password"
    minlength="5"
    required
  />
  <!-- <div class="checkbox mb-3">
    <label> <input type="checkbox" value="remember-me" /> Remember me </label>
  </div> -->
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Iniciar Sesi&oacute;n
  </button>
  <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
</form>


{% block customJS %}
<script src="{{ url_for('static', filename='js/login.js')}}"></script>
{% endblock %}

{% endblock %}
